#cloud-config
manage_etc_hosts: true
#user: $CLUSTER_USERNAME
#password: $CLUSTER_PASSWORD
chpasswd:
  expire: False
users:
  - name: pirate
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCiRDDHu5i3aKKjCgToIJ8Lto6N/OSFRxEbeCtSepySkm3uOyFcHewRCnZdeKj89VKzH3Tzd4iaOJGmF6yGbUgsv7VPlsCNNT5jN3w7OvOh4E8djEH3LP9y+sSj0i6y0jJQY60T8Tg5Q0NabChtO2nRmV4I++zCuksjxi>

package_upgrade: true
packages:
  - bmon
  - bwm-ng
  - curl
  - htop
  - iftop
  - iotop
  - libpam-systemd
  - locales-all
  - locate
  - nano
  - net-tools
  - ntpdate
  - nfs-common
  - qemu-guest-agent
  - rsync
  - screen
  - strace
  - sysstat
  - snmpd
  - sudo
  - tcpdump
  - tmux
  - vlan
  - vnstat
runcmd:
  - snap remove lxd
  - snap remove core18
  - snap remove snapd
  - apt purge snapd -y
  - apt autoremove -y
  - apt autoclean -y
  - hostnamectl set-hostname k3s-`ip -o addr show dev "eth0" | awk '$3 == "inet" {print $4}' | sed -r 's!/.*!!; s!.*\.!!'`  