---
# cloudflare-credentials.yml
# must run "htpasswd -nb username 'pass' | openssl base64" and put in vault as the key vault_traefik_auth_base64
# main.yml converts vault_traefik_auth_base64 to traefik_auth_base64 to work with multiple roles as needed
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-credentials
  namespace: traefik
type: Opaque
stringData:
  email: {{ cloudflare_email }}
  apiKey: {{ cloudflare_api_key }}